.hp-container {
    display: flex;
    padding: 0;
    padding-top: 18px;
    margin: 0;
    width: 100vw;
    height: 92vh;
    background-color: var(--background);
    justify-content: space-between;
}