.nv-container {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
}

.nv-ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    background-color: var(--background-alt);
    border-bottom: var(--border) solid 1px;
    box-shadow: 0 0 10px 0 #111;
    justify-content: space-between;
}

.nv-li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.nv-a-title {
    font-size: 24px;
}

.nv-li:hover {
    box-sizing: border-box;
    background-color: var(--background-body);
    border-bottom: 1px solid var(--text-main);
}

.nv-li:hover .nv-a {
    color: var(--text-bright);
}

.nv-a:hover {
    text-decoration: none;
    text-decoration-style: none;
}

.nv-a {
    color: var(--text-main);
}

.nv-signing {
    display: flex;
    flex-direction: row;
    gap: 10px;
}